<div class="container">
  <h1 class="title">{{title}}</h1>
  <div class="notification general-information">
    <strong>Layers:</strong>
    <ul>
      <li>layer 0: ground</li>
      <li>layer 1: walls 1st floor</li>
      <li>layer 2: walls 2nd floor</li>
      <li>etc</li>
    </ul>
    <strong>Walls Layer Mapping:</strong>
    <ul>
      <li>x: wall</li>
      <li>&nbsp;: void</li>
    </ul>
    <strong>Entities Layer Mapping:</strong>
    <ul>
      <li>p: player</li>
      <li>&nbsp;: void</li>
    </ul>
  </div>
  <app-map-editor></app-map-editor>
</div>
