<form [formGroup]="mapForm">
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" formControlName="name" required>
    </div>
  </div>
  <div class="field">
    <label class="label">Width</label>
    <div class="control">
      <input class="input" type="text" formControlName="width" required>
    </div>
  </div>
  <div class="field">
    <label class="label">Layers <a (click)="addLayer()">
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="plus"
        class="svg-inline--fa fa-plus fa-w-14"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
        ></path>
      </svg
      >
    </a></label>
    <div class="control">
      <div formArrayName="layers">
        <div *ngFor="let layer of layers.controls; let i=index">
          <div class="box box-layer" [formGroupName]="i">
            <label class="label">Layer {{ i }} :</label>
            <!--<div *ngFor="let subLayer of layer.value | keysPipe; let j = index;">-->
              <!--<label class="label">{{subLayer}}</label>-->
              <!--<textarea class="textarea" [formControlName]="subLayer" cols="{{mapForm.get('width').value}}"-->
                        <!--rows="10"></textarea>-->
            <!--</div>-->
            <label class="label">walls</label>
            <textarea class="textarea" formControlName="walls" cols="{{mapForm.get('width').value}}"
                      rows="10"></textarea>
            <label class="label">entities</label>
            <textarea class="textarea" formControlName="entities" cols="{{mapForm.get('width').value}}"
                      rows="10"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button class="button is-link" (click)="preview()" type="submit">Preview</button>
    <a class="button is-link is-outlined" [href]="downloadUrl"
       download="{{mapForm.get('name').value}}.json">Download</a>
  </div>
</form>
