/* Godot Engine default theme style
		 * ================================ */

.godot {
  color: #e0e0e0;
  background-color: #3b3943;
  background-image: linear-gradient(to bottom, #403e48, #35333c);
  border: 1px solid #45434e;
  box-shadow: 0 0 1px 1px #2f2d35;
}

button.godot {
  font-family: 'Droid Sans', Arial, sans-serif; /* override user agent style */
  padding: 1px 5px;
  background-color: #37353f;
  background-image: linear-gradient(to bottom, #413e49, #3a3842);
  border: 1px solid #514f5d;
  border-radius: 1px;
  box-shadow: 0 0 1px 1px #2a2930;
}

button.godot:hover {
  color: #f0f0f0;
  background-color: #44414e;
  background-image: linear-gradient(to bottom, #494652, #423f4c);
  border: 1px solid #5a5667;
  box-shadow: 0 0 1px 1px #26252b;
}

button.godot:active {
  color: #fff;
  background-color: #3e3b46;
  background-image: linear-gradient(to bottom, #36343d, #413e49);
  border: 1px solid #4f4c59;
  box-shadow: 0 0 1px 1px #26252b;
}

button.godot:disabled {
  color: rgba(230, 230, 230, 0.2);
  background-color: #3d3d3d;
  background-image: linear-gradient(to bottom, #434343, #393939);
  border: 1px solid #474747;
  box-shadow: 0 0 1px 1px #2d2b33;
}


/* Canvas / wrapper
     * ================ */

#container {
  display: inline-block; /* scale with canvas */
  vertical-align: top; /* prevent extra height */
  position: relative; /* root for absolutely positioned overlay */
  margin: 10px 0 0 0;
  border: 0 none;
  padding: 0;
  width: 100%;
}

#canvas {
  display: block;
  margin: 0 auto;
  color: white;
}

#canvas:focus {
  outline: none;
}


/* Status display
     * ============== */

#status {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* don't consume click events - make children visible explicitly */
  visibility: hidden;
}

#status-progress {
  width: 244px;
  height: 7px;
  background-color: #38363A;
  border: 1px solid #444246;
  padding: 1px;
  box-shadow: 0 0 2px 1px #1B1C22;
  border-radius: 2px;
  visibility: visible;
}

#status-progress-inner {
  height: 100%;
  width: 0;
  box-sizing: border-box;
  transition: width 0.5s linear;
  background-color: #202020;
  border: 1px solid #222223;
  box-shadow: 0 0 1px 1px #27282E;
  border-radius: 3px;
}

#status-indeterminate {
  visibility: visible;
  position: relative;
}

#status-indeterminate > div {
  width: 3px;
  height: 0;
  border-style: solid;
  border-width: 6px 2px 0 2px;
  border-color: #2b2b2b transparent transparent transparent;
  transform-origin: center 14px;
  position: absolute;
}

#status-indeterminate > div:nth-child(1) { transform: rotate( 22.5deg); }
#status-indeterminate > div:nth-child(2) { transform: rotate( 67.5deg); }
#status-indeterminate > div:nth-child(3) { transform: rotate(112.5deg); }
#status-indeterminate > div:nth-child(4) { transform: rotate(157.5deg); }
#status-indeterminate > div:nth-child(5) { transform: rotate(202.5deg); }
#status-indeterminate > div:nth-child(6) { transform: rotate(247.5deg); }
#status-indeterminate > div:nth-child(7) { transform: rotate(292.5deg); }
#status-indeterminate > div:nth-child(8) { transform: rotate(337.5deg); }

#status-notice {
  margin: 0 100px;
  line-height: 1.3;
  visibility: visible;
  padding: 4px 6px;
  visibility: visible;
}


/* Debug output
     * ============ */

#output-panel {
  display: none;
  max-width: 700px;
  font-size: small;
  margin: 6px auto 0;
  padding: 0 4px 4px;
  text-align: left;
  line-height: 2.2;
}

#output-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#output-container {
  padding: 6px;
  background-color: #2c2a32;
  box-shadow: inset 0 0 1px 1px #232127;
  color: #bbb;
}

#output-scroll {
  line-height: 1;
  height: 12em;
  overflow-y: scroll;
  white-space: pre-wrap;
  font-size: small;
  font-family: "Lucida Console", Monaco, monospace;
}
